<footer>
    <div class="prefooter" >
        <div class="newsletter" >
            <h2>SUBSCRIBITE AL NEWSLETTER</h2>
            <h3>y recibí descuentos y novedades</h3>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" size="30" placeholder="  tuemail@ejemplo.com" required>
            <br>
            <br>
            <h2># D I S R U P T E D</h2>
        </div> 

        <div class="redes-sociales">
            <div class="facebook" >
                <img class="redes" src="/img/foto-Facebook.JPG">
                <img class="logos" src="/img/logo-Facebook.png">
            </div>
            <div class="instagram">
                <img class="redes" src="/img/foto-Instagram.JPG">
                <img class="logos" src="/img/logo-Instagram.png">
            </div>
            <div class="tiktok">
                <img class="redes" src="/img/foto-Tiktok.JPG">
                <img class="logos" src="/img/logo-Tiktok.png">
            </div>
            <div class="youtube">
                <img class="redes" src="/img/foto-Youtube.JPG">
                <img class="logos" src="/img/logo-Youtube.png">
            </div>
        </div>

        <h3>Sumate a #DISRUPTED siguiéndonos en nuestras redes y compartiendo nuestro hashtag</h3>
    </div>
    
    <section class = "footerInfo">
        <div>
            <i class="fas fa-truck"></i>
            <h4>ENVÍO GRATIS</h4>
            <p>A partir de los $10.000</p>
        </div>
        <div>
            <i class="fas fa-credit-card"></i>
            <h4>3 Y 6 CUOTAS SIN INTERÉS</h4>
        </div>
        <div>
            <i class="fas fa-sync-alt"></i>
            <h4>CAMBIOS Y REINTEGROS</h4>
        </div>
        <div>
            <i class="fas fa-store"></i>
            <h4>RETIRO EN TIENDA</h4>
        </div>
</section>
<section class = "footerPie">
        <nav>
            <ul class = "ayuda"><h5>Ayuda</h5>
                <li><a href="#">Envío y seguimiento</a></li>
                <li><a href="#">Cambios y devoluciones</a></li>
                <li><a href="#">Botón de arrepentimiento</a></li>
            </ul>
        </nav>
        <nav>
            <ul class = "cuenta"><h5>Mi cuenta</h5>
                <li><a href="/login">Iniciar sesión</a></li>
                <li><a href="/register">Registrate</a></li>
                <li><a href="#">Recuperar contraseña</a></li>
            </ul>
        </nav>
        <nav>
            <ul class = "contacto"><h5>Contacto</h5>
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Trabaja con nosotros</a></li>
                <li><a href="#">Abrí tu franquicia</a></li>
            </ul>
        </nav>
        <nav>
            <ul class = "nosotros"><h5>Nosotros</h5>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Políticas de privacidad</a></li>
            </ul>
        </nav>
</section>
<section>
    <div>
        <p class = "copyright">© 2022 DISRUPTED. Todos los derechos reservados</p>
    </div>
</section>
</footer>