<header class="main-header">
    <div class="main-header-top-bar">
        <picture>
            <a href="/"> 
                <img src="/img/logo-mobile.png" class="logo">
            </a>                                
        </picture>          
    </div>
    <div class="nav-right">
        <i class="fas fa-search"></i>      
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </div>  
</header>