<!DOCTYPE html>
<html lang="es">

    <!-- head-->    
    <%- include('./partials/head.ejs') %>

<body>
    <!-- header-->
    <%- include('./partials/header.ejs') %>

        <div class="titularAvances">
            <h3>
                <!-- Adelantos de la Temporada 2023 -->
                ADELANTOS DE LA TEMPORADA 2023
            </h3>
        </div>

        <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/carousel1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/carousel2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/carousel3.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/carousel4.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <section class="section-articles">
        <article  class="articles-card">
            <img src="/img/wear-one.png" alt="product1">
                <section class="description-card">
                    <h5>Winter Season</h5>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
                </section>                  
        </article>
        <article  class="articles-card">
            <img src="/img/wear-two.png" alt="product1">
            <section class="description-card">
                <h5>Winter Season</h5>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
            </section>                
        </article>
    </section>

    <video  autoplay loop  muted>
        <source src="/img/season.mp4" type="video/mp4">
    </video>
    


    <h3 class="legend">
        NEW ARRIVALS
    </h3>

    <section class="slider">
        <article class="card">
            <img src="img/wear-one.png" alt="wear-one">
        </article>
        <article class="card">
            <img src="img/wear-two.png" alt="wear-one">
        </article>
        <article class="card">
            <img src="img/wear-trhree.png" alt="wear-one">
        </article>
        <article class="card">
            <img src="img/wear-four.png" alt="wear-one">
        </article>
        <article class="card">
            <img src="img/wear-five.png" alt="wear-one">
        </article>
        <article class="card">
            <img src="img/wear-six.png" alt="wear-one">
        </article>
    </section>

     <!-- footer-->
     <%- include('./partials/footer.ejs') %>    
</body>
</html>