.main-header{
    display: flex;
    width: 100vw;
    padding: 20px;
}

.main-header-top-bar{
    display: flex;
    flex: 1;
    height: 8vh;
    justify-content: flex-start;    
}

.nav-right{
    display: flex;
    flex: 1;
    height: 8vh;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    width: 100px;
    margin-bottom: 15px;
}

.fa-search{
    font-size: 20px;
}

.burger-menu{
    font-size: 20px;
    padding-left: 10px;
    color: #000;
    
}